In [11]:
import os
import pandas as pd
import sqlite3

In [12]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [13]:
connection = sqlite3.connect('movie_data.db')

In [14]:
links.to_sql('links', con = connection, index = False)
movies.to_sql('movies', con = connection, index = False)
ratings.to_sql('ratings', con = connection, index = False)
tags.to_sql('tags', con = connection, index = False)

In [10]:
connection.close()

In [15]:
cursor = connection.cursor()

In [16]:
query = "SELECT userId, movieId, rating FROM ratings"
res = cursor.execute(query)
ratings = res.fetchall()

In [18]:
pd.DataFrame(ratings)

          0       1    2
0         1       1  4.0
1         1       3  4.0
2         1       6  4.0
3         1      47  5.0
4         1      50  5.0
5         1      70  3.0
6         1     101  5.0
7         1     110  4.0
8         1     151  5.0
9         1     157  5.0
10        1     163  5.0
11        1     216  5.0
12        1     223  3.0
13        1     231  5.0
14        1     235  4.0
15        1     260  5.0
16        1     296  3.0
17        1     316  3.0
18        1     333  5.0
19        1     349  4.0
20        1     356  4.0
21        1     362  5.0
22        1     367  4.0
23        1     423  3.0
24        1     441  4.0
25        1     457  5.0
26        1     480  4.0
27        1     500  3.0
28        1     527  5.0
29        1     543  4.0
...     ...     ...  ...
100806  610  150401  3.0
100807  610  152077  4.0
100808  610  152081  4.0
100809  610  152372  3.5
100810  610  155064  3.5
100811  610  156371  5.0
100812  610  156726  4.5
100813  610  157296  4.0
100814  610  158238  5.0
100815  610  158721  3.5
100816  610  158872  3.5
100817  610  158956  3.0
100818  610  159093  3.0
100819  610  160080  3.0
100820  610  160341  2.5
100821  610  160527  4.5
100822  610  160571  3.0
100823  610  160836  3.0
100824  610  161582  4.0
100825  610  161634  4.0
100826  610  162350  3.5
100827  610  163937  3.5
100828  610  163981  3.5
100829  610  164179  5.0
100830  610  166528  4.0
100831  610  166534  4.0
100832  610  168248  5.0
100833  610  168250  5.0
100834  610  168252  5.0
100835  610  170875  3.0

[100836 rows x 3 columns]